[submodule "scripts/callHotspotsSSDS"]
	path = scripts/callHotspotsSSDS
	url = https://github.com/kevbrick/callHotspotsSSDS
[submodule "scripts/SSDSpipeline"]
	path = scripts/SSDSpipeline
	url = https://github.com/kevbrick/SSDSpipeline
[submodule "scripts/SSDS_pipeline"]
	path = scripts/SSDS_pipeline
	url = https://github.com/kevbrick/SSDSpipeline
